﻿@model Admin.Models.UserDetails

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.Agency)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Agency)
		</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a href="/home/@Model.Agency" class="btn btn-default">Back to List</a>
		</div>
	}
</div>
