﻿@model Admin.Models.DTRmodel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTRmodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RFID_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFID_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LateLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LateLogin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
