﻿@model Admin.Models.StudentEnrollModel

@{
    ViewBag.Title = "Delete";
}

<br />
<h2>Delete Course</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolmentDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
