﻿@model Admin.Models.StudentEnrollModel

@{
    ViewBag.Title = "Details";
}

<br />
<h2>Enrollment Details</h2>

<div>
    <hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnrolmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnrolmentDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
