﻿@model PagedList.IPagedList <Admin.Models.UserAccessModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Student List";
}

<br />
<h2>Student List</h2>

<div class="container col-sm-12 no-pad">
    <div class="col-sm-2 no-pad">
        @*@Html.ActionLink("Create New", "Create")*@
        <a class="btn btn-default" href="@Url.Action("Register","Account", new { type = "Student"})" style="width:100% !important;" target="_self">Create</a>
    </div>
    <div class="col-sm-10 no-pad">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", Placeholder = "Search by Name" })
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-default" value="Search" style="width:100%;" />
                </span>
            </div>
        }
        <br />
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Lastname", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Firstname
        </th>
        <th>
            Middlename
        </th>
        <th>
            Address
        </th>
        <th>
            PhoneNumber
        </th>
        
        <th>
            @Html.ActionLink("DateAdded", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middlename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            <a href="@Url.Action("EditUser", "Admin", new { UserName = item.UserName})" class="btn btn-warning btn-xs" target="_self"><span class="fa fa-pencil"></span></a>
            <a href="@Url.Action("EditUser", "Admin", new { UserName = item.UserName})" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></a>
            <a href="@Url.Action("DeleteUser", "Admin", new { _UserName = item.UserName})" onclick="return confirm('Are you sure you wish to delete this user?')" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
}
</table>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
