﻿@model Admin.Models.UserAccessModel
@{
    ViewBag.Title = "EditUser";
}

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit User</h4>
            @Html.ValidationSummary("",new { @class = "text-danger" })

            @Html.HiddenFor(m => m.UserType)
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Middlename, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Middlename, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                </div>
            </div>
           

            <div class="form-group">
                @Html.Label("","Active", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   @Html.HiddenFor(model => model.Active, new { id = "d1" })
                    @{
                        if (ViewBag.stat == true)
                        {
                            <input type="checkbox" id="chkDep1" checked ="checked">
                        }
                        else
                        {
                            <input type="checkbox" id="chkDep1">
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateAdded, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DateAdded, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastModifiedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastModifiedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("EditRoles","Admin", new { UserName = Model.UserName })" class="btn btn-warning">Edit Roles</a>
						@*<a href="@Url.Action("AllList","Admin")" class="btn btn-default">Back to List</a>*@
					}
                    
                 </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
                //alert($('#d1').val());
                $('.iCheck-helper').click(function () {
                    var chkadmin = "";

                    if ($("#chkDep1").is(":checked")) {
                        chkadmin = $('#chkDep1').is(':checked');
                    }
                    else {
                        chkadmin = $('#chkDep1').is(':checked');
                    };

                    //alert(chkadmin);
                    $('#d1').val(chkadmin);
                    //alert($('#d1').val());
                });
            });
    </script>
}