﻿@model Admin.Models.UserAccessModel
@{
    ViewBag.Title = "ViewUser";
}

<div class="row">
    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateofBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateofBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AdditionalIformation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdditionalIformation)
            </dd>

            <dt>
                Invited By
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReferredBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateAdded)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.DateAdded)
            </dd>
        </dl>
    </div>
   <p>
       <a href="@Url.Action("EditUser","Admin", new { UserName = Model.UserName })" class="btn btn-warning">Edit User</a>
       @if (Model.userType == "Client")
       {
            <a href="@Url.Action("ClientList","Admin")" class="btn btn-default">Back to List</a>
       }
       else if (Model.userType == "Agent")
       {
            <a href="@Url.Action("AgentList","Admin")" class="btn btn-default">Back to List</a>
       }
       else
       {
            <a href="@Url.Action("Adminlist","Admin")" class="btn btn-default">Back to List</a>
       }
   </p>
</div>