﻿@model Admin.Models.RoomsViewModel

@{
    ViewBag.Title = "Edit";
}
<h2 style="padding-top:10px;">Update Room Data</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please edit the data below.</h4>
        <hr style="border-top:1px solid #dcd5d5" />
        <!--Hire Form-->
        <div class="col-sm-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)


            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", Readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LevelType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(m => m.LevelType, htmlAttributes: new { @id = "LevelType" })
                    <select id="dd-LevelType" class="form-control">
                        <option value="Kindergarten">Kindergarten</option>
                        <option value="Elementary">Elementary</option>
                        <option value="Secondary">Secondary</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.YearGrade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(m => m.YearGrade, htmlAttributes: new { @id = "YearGrade" })
                    <select id="dd-YearGrade" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-warning" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <!--Search Employee-->
        <div class="col-sm-6">
            <div class="col-sm-12">
                <div class="input-group">
                    @Html.TextBox("SearchString", null, new { @class = "form-control", Placeholder = "Search Instructor" })
                    <span class="input-group-btn">
                        <a href="#" id="btnSearch" class="btn btn-default" style="width:100%;">Search</a>
                    </span>
                </div>
            </div>
            <hr />
            <div class="col-sm-12" id="resultlist">
                <div class="col-sm-12" id="loader-box" hidden>
                    <img src="~/Content/images/loading.gif" class="img-responsive" style="margin: 0 auto;width: 80px;" />
                </div>
                <div id="usrbox" hidden>
                    <div class="col-sm-12 usr-box">
                        <div class="col-sm-2 no-pad">
                            <a href="" class="btn btn-default" style="float:left;margin-top: 4px;"><span class="fa fa-arrow-left"></span></a>
                        </div>
                        <div class="col-sm-8">
                            <h4>Alba, Alejo Demaraye</h4>
                        </div>
                        <div class="col-sm-2">
                            <img src="~/Content/images/Icon-user.png" class="img-responsive" />
                        </div>
                    </div>
                </div>
                <p>
                    <a href="@Url.Action("Register","Account", new { type = "Employee"})" class="btn btn-default" target="_self">Add Profile</a>
                </p>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //ON LOAD
        $(document).ready(function () {
            $('#dd-LevelType').val($('#LevelType').val()); //set the value selected

            if ($('#LevelType').val() == "Kindergarten") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>'
                );
            }
            if ($('#LevelType').val() == "Elementary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5</option>' +
                    '<option value="6">6</option>'
                );
            }
            if ($('#LevelType').val() == "Secondary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10</option>' +
                    '<option value="11">11</option>' +
                    '<option value="12">12</option>'
                );
            }
            $('#dd-YearGrade').val($('#YearGrade').val()); //set the value selected
        })       
        //SELECT LEVEL TYPE
        $(document).on('change', '#dd-LevelType', function () {
            $('#LevelType').val($('#dd-LevelType option:selected').val()); //set the value selected
            if ($('#LevelType').val() == "Kindergarten") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>'
                );
            }
            if ($('#LevelType').val() == "Elementary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5</option>' +
                    '<option value="6">6</option>'
                );
            }
            if ($('#LevelType').val() == "Secondary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10</option>' +
                    '<option value="11">11</option>' +
                    '<option value="12">12</option>'
                );
            }
            $('#YearGrade').val($('#dd-YearGrade option:selected').val()); //set the value selected
        });
        //SELECT YEAR / GRADE
        $(document).on('change', '#dd-YearGrade', function () {
            $('#YearGrade').val($('#dd-YearGrade option:selected').val()); //set the value selected
        });

        $('#btnSearch').on('click', function () {
            var searchparam = $('#SearchString').val();
            if (searchparam.replace(" ", "") != "") {
                $(this).attr('disabled', 'disabled');
                $('#loader-box').show();
                $.ajax({
                    type: 'GET',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    url: '/Account/SearchEmployee?param=' + searchparam,
                    contentType: "application/json",
                    success: function (data) {
                        $('#usrbox').empty();
                        if (data == "No Result") {
                        } else {
                            $.each(data, function (i, item) {
                                $('#usrbox').append(
                                    '<div class="col-sm-12 usr-box">' +
                                        '<div class="col-sm-2 no-pad">' +
                                            '<a href="#" data-id="' + item.Id + '" class="btn btn-default btn-select-employee" style="float:left;margin-top: 4px;"><span class="fa fa-arrow-left"></span></a>' +
                                        '</div>' +
                                        '<div class="col-sm-8">' +
                                            '<h4>' + item.Lastname + ", " + item.Firstname + " " + item.Middlename + '</h4>' +
                                        '</div>' +
                                        '<div class="col-sm-2">' +
                                            '<img src="/Content/images/Icon-user.png" class="img-responsive" />' +
                                        '</div>' +
                                    '</div>'
                                );
                            })
                        }

                        $('#loader-box').hide();
                        $('#usrbox').show();
                        $('#btnSearch').removeAttr('disabled');
                    }
                });
            }
        });

        $(document).on('click', '.btn-select-employee', function () {
            $('#EmployeeId').val($(this).attr('data-id'));
        });
    </script>
}
