﻿.mycontents{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-custom-menu>.navbar-nav>li {
    margin-right: 10px;
}

#boxSearch, 
#userSearch{
    max-width: 100%;
}

.tblheader{
    background-color:#e0dede;
}
