﻿body {
    padding-top: 50px;
    /*padding-bottom: 20px;*/
}

.locked-bg {
	background: url(images/school-wallpaper-low.jpg);
	background-repeat:no-repeat;
	    background-size: 100% 100vh;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.no-pad{
	padding:0px;
}
#SearchString,
#AddrSource{
	max-width:100%;
}
.usr-box {
	border: 1px solid #dedada;
	min-height: 30px;
	padding: 4px 10px;
}
.usr-box p{
	margin: 0 auto;
}
.usr-box img {
	width:40px;
}
.footer-line2 {
	margin-top: 20px;
	width: 50px;
	border-top: 3px solid #547abd;
}

.parallax-filter {
	position: relative;
	height: 540px;
	text-align: center;
	width: 100%;
	background: rgba(84, 122, 189, 0.5607843137254902);
	z-index: 999;
	margin-top: -540px;
}
.parallax-filter > div {
	position: relative;
	height: 540px;
	text-align: center;
	width:100%;
}

.parallax-filter > div > div {
	position: relative;
	top: 55%;
	transform: translateY(-50%);
}

.parallax-filter > div > div h1 {
	color: #fff;
	text-shadow: 2px 2px #856d56;
	text-transform: uppercase;
}

.parallax {
	/* The image used */
	background-image: url(images/Bg-home.jpg);
	/* Set a specific height */
	min-height: 500px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

#loginForm {
	padding: 20px;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 4px;
	background-color: #eaeaea;
}
#loginForm input{
	max-width:100% !important;
}
.bg-cover {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
	border-radius: 4px;
	background-color: #eaeaea;
}

#loginForm {
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.txt-address{
	height: 130px !important;
}

.wide-control{
	width:100% !important;
	max-width: 100% !important;
}
#createExamTable {

    background-color: #547abd;
}
#createExamTable table tr th{
    background-color: #373232;
    text-align: center;
    color: #fff;
}   
#createExamTable table tr td{

    color: #fff !important;
    text-align: center;
}
