﻿@using Admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<br />
<div class="row">
    <div class="col-md-4"></div>
	<div class="col-md-4" style="margin-top: 10%;">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				<h4>Use a local account to log in.</h4>
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					<div class="col-md-12">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control", Placeholder = "Username or Email" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control", Placeholder = "Password" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox icheck">
							<label style="padding-left: 0px;">
								@*<input type="checkbox" id="chkremember"> Remember Me*@
								@Html.CheckBoxFor(m => m.RememberMe, new { @id = "chkremember" }) Remember Me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<button id="btnLogin" class="btn btn-default">Login</button>
					</div>
				</div>
				@*<p>
						@Html.ActionLink("Register as a new user", "Register")
					</p>*@
				//Enable this once you have account confirmation enabled for password reset functionality
				<p>
					@Html.ActionLink("Forgot your password?", "ForgotPassword")
				</p>
			}
		</section>
	</div>
	@*<div class="col-md-4">
			<section id="socialLoginForm">
				@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
			</section>
		</div>*@
    <div class="col-md-4"></div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/plugins/iCheck/icheck.min.js"></script>
	<script>
         $(document).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
         });
	</script>
}