﻿@model Admin.Models.CourseViewModel

@{
    ViewBag.Title = "Delete";
}
<br />
<h2>Delete Course</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <hr style="border-top:1px solid #dcd5d5" />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
