﻿@model Admin.Models.CourseViewModel

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Course Details</h2>

<div>
    <hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeptHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeptHead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<hr style="border-top:1px solid #dcd5d5" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new{ @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
